/* already need this variable */

/*
@for $i from 1 through 6 {
  .grid-steps- # { $ i } {
    display: grid;
    @if $i == 1 {
      grid-template-columns: 1fr;
    }
    @if $i == 2 {
      grid-template-columns: 1fr 1fr;
    }
    @if $i == 3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @if $i == 4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @if $i == 5 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @if $i == 6 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
*/


.box {
	border: 1px solid #ddd !important;
	.steps {
		border-bottom: 1px solid #ddd;
		ul {
			overflow: hidden;
			li {
				position: relative;
				&::before {
					content: " ";
					border: solid #f5f5f5;
					position: absolute;
					left: 0;
					width: calc(50% - 1.2em);
					z-index: 2;
				}
				&::after {
					content: " ";
					border: solid #f5f5f5;
					position: absolute;
					right: 0;
					width: calc(50% - 1.2em);
					z-index: 2;
				}
				&:first-child {
					&::before {
						opacity: 0 !important;
					}
				}
				&:last-child {
					&::after {
						opacity: 0 !important;
					}
				}
				div {
					color: #999;
					margin: 20px 20px;
					position: relative;
					background: #f5f5f5;
					border-radius: 50%;
					width: 35px;
					height: 35px;
					span {
						font-size: 13px;
					}
					
				}
			}
			li.done {
				&::before {
					border: solid $xpertio-primary;
				}
				&::after {
					border: solid $xpertio-primary;
				}
				div {
					border-color: $opacity-xpertio-primary !important;
					color: black !important;
					background: $opacity-xpertio-primary !important;
                    cursor: pointer;
				}
			}
			li.active {
				&::before {
					border: solid $xpertio-primary;
				}
				&::after {
					border: solid $xpertio-primary;
				}
				div {
					border-color: #ffb92d !important;
					color: black !important;
					background: #ffb92d !important;
                    cursor: pointer;
				}
			}
		}
	}
	.step-component {
		padding: 20px;
		overflow: auto;
		height: 100%;
		max-height: 800px;
		align-items: center;
		justify-content: center;
	}
	.btn-component {
		padding: 20px;
		display: flex;
		justify-content: space-between;
	}
}