.shadow-lg {
    -webkit-box-shadow: 0 5px 7px rgb(0 0 0 / 28%) !important;
    box-shadow: 0 5px 7px rgb(0 0 0 / 28%) !important
}
.background-gradient {
    background: linear-gradient(253deg, rgba(0,0,0,1) 0%, rgba(22,22,22,0.9644900196406687) 16%, rgba(37,37,37,0.9756945014333859) 55%, rgba(0,0,0,0.9588877787443102) 80%);
}
.background-opacity {
    background: #e9ecef;
}