.general-balance {
    margin-top: -48px; 
    margin-left: -48px;
    height: 60px;
    width: calc(100% + 96px);
    @include media-breakpoint-down(xl) {
        margin-left: -23px;
        width: calc(100% + 46px);
    }
    @include media-breakpoint-down(lg) {
        margin-left: -16px;
        width: calc(100% + 32px);
    }
    .balance-card {
        border-bottom-right-radius: 100% !important;
        z-index: 2; 
        min-height: 80px; 
    }
}
